{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/texto.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/ScrollTrigger.min.js"></script>
</head>
<body>
<header>
    <div class="conteudo">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'assets/svg/logo.svg'%}" alt="">
            </a>
        </div>
        <div class="titulo">
            <h1> Algumas reflexões sobre o comportamento humano e aquilo que nos faz únicos</h1>
        </div>
        <div class="busca">
            <form action="{% url 'buscar' %}">
                <input name="buscar" type="search" placeholder="Pequisar um texto...">
                <button type="submit">
                    <img src="{% static 'assets/svg/icone-busca.svg'%}" alt="">
                </button>
            </form>
        </div>
    </div>
</header>
<main>
    <div class="text-header">
        <div class="text-header-left">
            <div>
                <a href="{% url 'textos' %}">
                    <img src="{% static 'assets/svg/seta-esquerda.png' %}">
                </a>
            </div>
            <div class="autor-informacao">
                <img src="{% static 'assets/svg/profile-marigil.svg'%}" alt="">
                <p class="autor-informacao-texto">Mariana Gil - {{texto.data_postagem}}</p>
            </div>
        </div>
        <div class="text-header-right">
            <img src="{{ texto.imagem.url }}" style="max-width: 275px; max-height: 200px">
        </div>
    </div>
    <div class="corpo-texto">
        <h1>{{ texto.titulo }}</h1>
        <h3>{{ texto.sub_titulo }}</h3>
        <p>
          {{ texto.conteudo }}
        </p>
    </div>
</main>

{#FOOTER#}
<div class="footer-container">
    <div class="footer">
        <div class="footer-esquerdo">
            <div class="footer-contato-titulo">
                <h2>Ficou com alguma duvida?</h2>
                <img src="{% static  'assets/svg/contatos-flecha.svg'%}" alt="">
            </div>

            <div class="footer-esquerdo-contatos">
                <div class="footer-esquerdo-contatos-icone">
                    <a href="#">
                        <img src="{% static 'assets/svg/contatos-whatsapp.svg'%}" alt="">
                    </a>
                </div>

                <div class="footer-esquerdo-contatos-icone">
                    <a href="#">
                        <img src="{% static 'assets/svg/contatos-instagram.svg'%}" alt="">
                    </a>
                </div>

                <div class="footer-esquerdo-contatos-icone">
                    <a href="#">
                        <img src="{% static 'assets/svg/contatos-gmail.svg'%}" alt="">
                    </a>
                </div>

            </div>
        </div>
        <div class="footer-direito">
            <a href="/">
                <img src="{% static 'assets/svg/contatos-logomg.svg'%}" alt="">
            </a>
        </div>
    </div>
</div>
<div class="footer-baixo">
    <span>© 2024 Psicóloga Mariana Gil orgulhosamento criado por Felipe Santana de rose</span>
</div>
</body>
<script>
    gsap.registerPlugin(ScrollTrigger);
    window.addEventListener('DOMContentLoaded', () => {
        gsap.from(".logo", {opacity: 0, x:-100, duration: 1})
        gsap.from(".titulo", {opacity: 0, y:-100, duration: 1})
        gsap.from(".busca", {opacity: 0, x:100, duration: 1});
    });
    function elementoAparecePelaEsquerdaAoScrollar(classeElemento, delay = 0){
        gsap.from(classeElemento, {
            scrollTrigger: classeElemento,
            opacity :0,
            x : -150,
            duration: 1,
            delay : delay
        })
    }
    function elementoAparecePelaDireitaAoScrollar(classeElemento, delay = 0){
        gsap.from(classeElemento, {
            scrollTrigger: classeElemento,
            opacity :0,
            x : 150,
            duration: 1,
            delay : delay
        })
    }
    function elementoApareceDeBaixoAoScrollar(classeElemento, delay = 0){
        gsap.from(classeElemento, {
            scrollTrigger: classeElemento,
            opacity :0,
            y : 100,
            duration: 1,
            delay : delay
        })
    }
    function elementoApareceDeCimaAoScrollar(classeElemento){
        gsap.from(classeElemento, {
            scrollTrigger: classeElemento,
            opacity :0,
            y : -100,
            duration: 1
        })
    }
    elementoAparecePelaEsquerdaAoScrollar('.text-header-left', 0.5)
    elementoAparecePelaDireitaAoScrollar('.text-header-right', 0.5)
    elementoApareceDeBaixoAoScrollar('.corpo-texto', 1)
</script>
</html>